<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link href="/lib/vuetify/googleapis.css" rel="stylesheet">

    <link href="/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
    <link href="/lib/vuetify/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-app-bar color="deep-purple accent-4" dense dark>
                <v-toolbar-title>GAME DATA</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-btn icon @click="toVersionManage">
                    版本管理
                </v-btn>
                <div style="width: 50px;"></div>
            </v-app-bar>
            <v-container>

                <v-card>
                    <v-card-title>数据列表</v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" md="3">
                                <m-date-picker v-model="query.beginDate" label="起始日期" placeholder="选择日期(默认8天前)"></m-date-picker>
                            </v-col>
                            <v-col cols="12" md="3">
                                <m-date-picker v-model="query.endDate" label="结束日期" placeholder="选择日期(默认昨天)"></m-date-picker>
                            </v-col>
                            <v-col cols="12" md="3">
                                <v-select label="版本" :items="versions" placeholder="选择版本" v-model="query.version"></v-select>
<!--                                <v-text-field v-model="query.version" label="版本" placeholder="选择版本"></v-text-field>-->
                            </v-col>
                            <v-col cols="12" md="3">
                                <m-date-picker v-model="query.userCreateDate" label="用户创建日期" placeholder="选择日期"></m-date-picker>
                            </v-col>

                        </v-row>
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-btn color="primary" @click="loadData">筛选数据</v-btn>
                                <v-btn color="primary" @click="exportData">下载数据</v-btn>
                            </v-col>
                        </v-row>
                        <v-progress-linear v-if="loading" :indeterminate="true"></v-progress-linear>
                        <v-data-table
                                :headers="headers"
                                :items="data"
                                local="zhHans"
                                class="elevation-1"
                        >
                        </v-data-table>
                    </v-card-text>
                </v-card>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/lib/vue/vue.min.js"></script>
<script src="/js/components/DatePicker.js"></script>
<script src="/lib/vuetify/vuetify.js"></script>
<script src="/lib/axios/axios.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/common/index.js"></script>
<script>
    var beginDate = moment().add(-8, 'days').format('YYYY-MM-DD');
    var endDate = moment().add(-1, 'days').format('YYYY-MM-DD');
    CreateApp({
        el: '#app',
        data:{
            headers: [
                {text: '等级', value: 'levelId'},
                {text: '进入次数', value: 'playTimes'},
                {text: '进入人数', value: 'playUsers'},
                {text: '胜利次数', value: 'winTimes'},
                {text: '胜利人数', value: 'winUsers'},
                {text: '失败次数', value: 'loseTimes'},
                {text: '失败人数', value: 'loseUsers'},
                {text: '平均时长', value: 'avgDuration'},
                {text: '观看视频步数', value: 'videoSteps'},
                {text: '观看视频人数', value: 'videoUsers'},
                {text: '视频道具次数', value: 'videoItemCount'},
                {text: '视频道具使用人数', value: 'videoItemUsers'},
                {text: '道具1使用次数', value: 'item1UseTimes'},
                {text: '道具1使用人数', value: 'item1UseUsers'},
                {text: '道具2使用次数', value: 'item2UseTimes'},
                {text: '道具2使用人数', value: 'item2UseUsers'},
                {text: '道具3使用次数', value: 'item3UseTimes'},
                {text: '道具3使用人数', value: 'item3UseUsers'},
                {text: '复活界面步数+5使用次数', value: 'buyStepTimes'},
                {text: '步数+5使用人数', value: 'buyStepUsers'},
                {text: '道具1购买次数', value: 'buyItem1Times'},
                {text: '道具1购买人数', value: 'buyItem1Users'},
                {text: '道具2购买次数', value: 'buyItem2Times'},
                {text: '道具2购买人数', value: 'buyItem2Users'},
                {text: '道具3购买次数', value: 'buyItem3Times'},
                {text: '道具3购买人数', value: 'buyItem3Users'},
                {text: '商店购买人数', value: 'shopBuyUsers'},
                {text: '商店购买次数', value: 'shopBuyTimes'},
                {text: '消费人数', value: 'payUsers'}
            ],
            data: [],
            loading: false,
            query: {
                beginDate,
                endDate
            },
            versions: []
        },
        mounted(){
            this.loadData();

            this.loadVersions();
        },
        methods: {
            loadData(){
                this.loading = true;
                axios.get('/levelData/count', {
                    params: this.query
                }).then(({data}) => {
                    this.loading = false;
                    console.log(data)
                    this.data = data;
                })
            },
            loadVersions(){
                axios.get('/gameVersion').then(({data}) => {
                    this.versions = data.map(d => d.version);
                })
            },
            exportData(){
                window.open(`${window.location.origin}/levelData/export?beginDate=${this.query.beginDate||''}&endDate=${this.query.endDate||''}&version=${this.query.version||''}&userCreateDate=${this.query.userCreateDate||''}`)
            },
            toVersionManage(){
                window.open(`${window.location.origin}/pages/version.html`);
            }
        }
    });
</script>
</body>
</html>