<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/lib/vuetify/googleapis.css" rel="stylesheet">

    <link href="/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
    <link href="/lib/vuetify/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
<div id="app">
    <v-app dark>
        <v-content>
            <v-card style="width: 500px;margin: 200px auto;">
                <v-card-title>登录</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-alert v-if="error" color="error">{{error}}</v-alert>
                    <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                        <v-text-field label="用户名" placeholder="请输入用户名" :rules="[v => !!v || '用户名不能为空！']" required v-model="loginUser.username"></v-text-field>
                        <v-text-field label="密码" placeholder="请输入密码" type="password" :rules="[v => !!v || '密码不能为空！']" required v-model="loginUser.password"></v-text-field>
                    </v-form>

                </v-card-text>
<!--                <v-divider></v-divider>-->
                <v-card-actions>
                    <div align="center" style="width:100%;">
                        <v-btn color="primary" @click="login">登录</v-btn>
                    </div>
                </v-card-actions>
            </v-card>
        </v-content>
    </v-app>
</div>
<script src="/lib/vue/vue.min.js"></script>
<script src="/js/components/DatePicker.js"></script>
<script src="/lib/vuetify/vuetify.js"></script>
<script src="/lib/axios/axios.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/common/index.js"></script>
<script>
    CreateApp({
        el: '#app',
        data: {
            valid: true,
            lazy: false,
            loginUser: {

            },
            error: ''
        },
        methods: {
            login(){
                const valid = this.$refs.form.validate();
                console.log(valid);
                if(valid) {
                    axios.post("/account/login", this.loginUser).then(({data}) => {
                        if(data === 'success'){
                            window.location.href = "/index.html";
                        }else if(data === 'successtwo'){
                            window.location.href = "/index1.html";
                        }
                         else {
                            this.error = "登录失败！";
                        }
                    })
                }
            }
        }
    })
</script>
</body>
</html>