<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>其他打点</title>
    <link href="/lib/vuetify/googleapis.css" rel="stylesheet">

    <link href="/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
    <link href="/lib/vuetify/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-app-bar color="deep-purple" dense dark>
                <v-btn icon @click="backData">
                    返回
                </v-btn>
                <v-toolbar-title>GAME DATA</v-toolbar-title>
                <v-spacer></v-spacer>

                <div style="width: 50px;"></div>

                <div style="width: 30px;"></div>
            </v-app-bar>
            <v-container>

                <v-card>
                    <v-card-title>数据列表</v-card-title>
                    <v-card-text>
                        <v-row>
                            <v-col cols="12" md="3">
                                <m-date-picker v-model="query.beginDate" label="起始日期" placeholder="选择日期(默认8天前)"></m-date-picker>
                            </v-col>
                            <v-col cols="12" md="2">
                                <m-date-picker v-model="query.endDate" label="结束日期" placeholder="选择日期(默认昨天)"></m-date-picker>
                            </v-col>
                            <v-col cols="12" md="2">
                                <v-select label="版本" :items="versions" placeholder="选择版本" clearable v-model="query.version"></v-select>
                                <!--                                <v-text-field v-model="query.version" label="版本" placeholder="选择版本"></v-text-field>-->
                            </v-col>
                            <v-col cols="12" md="2">
                                <v-select label="渠道" :items="channels" placeholder="选择渠道" clearable v-model="query.channel"></v-select>
                            </v-col>
                            <v-col cols="12" md="3">
                                <m-date-picker v-model="query.userCreateDate" label="用户创建日期" placeholder="选择日期"></m-date-picker>
                            </v-col>

                        </v-row>
                        <v-row>
                            <v-col cols="12" md="6">
                                <v-btn color="primary" @click="loadData">筛选数据</v-btn>
                            </v-col>
                        </v-row>
                        <v-progress-linear v-if="loading" :indeterminate="true"></v-progress-linear>
                        <v-data-table
                                :headers="headers"
                                :items="data"
                                local="zhHans"
                                class="elevation-1"
                        >
                        </v-data-table>
                    </v-card-text>
                </v-card>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="/lib/vue/vue.min.js"></script>
<script src="/js/components/DatePicker.js"></script>
<script src="/lib/vuetify/vuetify.js"></script>
<script src="/lib/axios/axios.min.js"></script>
<script src="/lib/moment/moment.js"></script>
<script src="/js/common/index.js"></script>
<script>
    var beginDate = moment().add(-8, 'days').format('YYYY-MM-DD');
    var endDate = moment().add(-1, 'days').format('YYYY-MM-DD');
    CreateApp({
        el: '#app',
        data:{
            headers: [
                {text: '礼包名称', value: 'cname'},
                {text: '打点名称', value: 'buyName'},
                {text: '购买次数', value: 'buyNum'},
                {text: '购买人数', value: 'buyPeopleNum'}
            ],
            data: [],
            loading: false,
            query: {
                beginDate,
                endDate,
                version: ''
            },
            versions: [
                {text: '全部版本', value: ''}
            ],
            channels:
                [  {text: '全部渠道', value: ''},
                    {text: 'android', value: 'android'},
                    {text: 'ios', value: 'ios'}
                 ]
        },
        mounted(){
            this.loadData();

            this.loadVersions();
        },
        methods: {
            loadData(){
                this.loading = true;
                axios.get('/buyData/count', {
                    params: this.query
                }).then(({data}) => {
                    this.loading = false;
                    console.log(data)
                    this.data = data;
                })
            },
            loadVersions(){
                axios.get('/gameVersion').then(({data}) => {
                    this.versions.push(...data.map(d => {
                        return {
                            text: d.version,
                            value: d.version
                        }
                    }));
                })
            },
            backData(){
                window.open(`${window.location.origin}/index.html`);
            }
        }
    });
</script>
</body>
</html>